@model BlogPost

<h3><a href="@Html.Raw(Model.FileName)">@Html.Raw(Model.Title)</a></h3>
<p style="font-size: 12px; color: gray;">@Html.Raw(@Model.Created.ToString("yyyy-MM-dd HH:mm"))</p>
@Html.Raw(@Model.HtmlContent)
<hr />   