@page "{pageNumber:int}"

@model hySite.IndexModel

@foreach (var item in @Model.Posts) {

    <h2><a href="@Html.Raw(item.FileName)">@Html.Raw(item.Title)</a></h2>
    <p style="font-size: 12px; color: gray;">@Html.Raw(item.Created)</p>
    @Html.Raw(item.HtmlContent)
    <hr />          
}

@if(@Model.PrevPage != null)
{
    <a style="float: left" href="/@Model.PrevPage">Previous</a>
}

@if(@Model.NextPage != null)
{
    <a style="float: right" href="/@Model.NextPage">Next</a>
}