@page "{postName}"

@model PostPageModel

<h3>@Html.Raw(@Model.BlogPost.Title)</h3>
<p style="font-size: 12px; color: gray;">@Html.Raw(@Model.BlogPost.Created.ToString("yyyy-MM-dd HH:mm"))</p>
@Html.Raw(@Model.BlogPost.HtmlContent)
<hr />   

@if(!string.IsNullOrEmpty(@Model.NextPostFileName) )
{
    <a class="navigation" href="@Html.Raw(@Model.NextPostFileName)">Next entry</a>
}

@if(!string.IsNullOrEmpty(@Model.PrevPostFileName) )
{
    <a class="navigation" href="@Html.Raw(@Model.PrevPostFileName)">Prev entry</a>
}